/* Utility */

.clear{
	clear:both;
}

/* Main */

body{
  margin:0;
  font-family: arial, sans-serif;
}
.container{
	background-color:#0192d3;user-select:none;
}
h1{
	margin:0;
	font-size:1em;
	text-align:center;
	pointer-events:none;
	user-select:none;
	-webkit-user-select:none;
}
